BOT_TOKEN=
TARGET_CHANNEL=
REVIEW_CHANNEL_ID=
SOURCE_CHANNEL=
TG_API_ID=
TG_API_HASH=
TG_SESSION_STRING=
MODERATION_ENABLED=false

BUTTON1_TEXT=ULTRAPARI BONUS
BUTTON1_URL=https://ultrapari.com/ru/registration?tag=d_5299306m_118408c_
BUTTON2_TEXT=WINWIN BONUS
BUTTON2_URL=https://winwin-624339.top/ru/registration?tag=d_5343420m_94904c_
BUTTON3_TEXT=LUCKYPARI BONUS
BUTTON3_URL=https://lckypr.com/G4DtDxQ
BUTTON4_TEXT=LINEBET BONUS
BUTTON4_URL=https://lb-aff.com/L?tag=d_5445297m_22611c_site&site=5445297&ad=22611&r=registration

AI_ENABLED=true
AI_API_KEY=
AI_MODEL=gpt-4.1-mini
AI_STYLE_PROMPT=Rewrite the source into polished Arabic Telegram copy for a betting and sports Telegram channel. Make it sound native, confident, clean, premium, and easy to read on mobile. Keep facts, odds, teams, injuries, and promo meaning accurate. If the source is promo or betting content, make it punchy and persuasive. If the source is sports news, keep it fast, sharp, and factual. Use short rhythmic lines, elegant Arabic wording, and selective emojis. Never mention the source channel, source attribution, or foreign partner brands. No hashtags, no markdown, no filler, and no fake claims.
AI_TARGET_LANG=Arabic

PROMOCODE_TEXT=PROMOCODE: NILE
APK_URL=https://t.me/PLATINUM_APK
LUCKYPARI_APK_URL=https://lckypr.com/wW5nH61
ULTRAPARI_APK_URL=https://refpa42156.com/L?tag=d_5299306m_118431c_&site=5299306&ad=118431
WINWIN_APK_URL=https://refpa712080.pro/L?tag=d_5343420m_68383c_&site=5343420&ad=68383
LINEBET_APK_URL=https://lb-aff.com/L?tag=d_5445297m_66803c_apk1&site=5445297&ad=66803
ALBUM_CHANNEL_URL=https://t.me/PLATINUM_APK
BONUS_BUTTON_MESSAGE=Bonusni oling
